<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | The Forum</title>
  </head>
  <body>
    <%- include("header") %> <% allMessages.map((message) => { %>
    <p><%= message.title %></p>
    <p><%= message.text %></p>
    <p><%= message.date_created %></p>
    <p><%= message.full_name %></p>
    <% }) %>
  </body>
</html>
